<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>These News Happened Today</title>
    <style>
        .logo {
            display: inline;
            margin-left: 3%;
            width: 20%;
            margin-top: 20px;
        }
        .headTexts{
            display:inline;
            white-space:nowrap;
        }
    </style>
</head>
<body>

        <div class="headGroup">
            <img class = "logo" src="logo_HD.png"/>Here are the news for you!
        </div>
</body>
</html>